# import old  csv data

In [2]:
import sys,os
sys.path.append("..")
import django
django.setup()
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import sqlite3
from etl.import_sql import *

In [ ]:
# 美股財報
# sf1_df=pd.read_csv('/Users/benbilly3/us_stocks_example_sourcecode/us_stock_rnd_strategy/SHARADAR_SF1_017f04a0d2ef7cc409f920be72167ada.csv')
# sf1_df=sf1_df.rename(columns={'ticker': 'stock_id',"datekey":'date'})
# sf1_df=sf1_df.sort_values(['stock_id','date'])
# for i in ['date','calendardate','reportperiod','lastupdated']:
#     sf1_df[i]=pd.to_datetime(sf1_df[i])
# sf1_df=sf1_df.drop_duplicates(['stock_id', 'calendardate', 'dimension'], keep='first')
# sf1_df.index=[i for i in range(1,len(sf1_df)+1)]
# sf1_df

In [ ]:
# # connect to finlab_django mysql
# connect_info = 'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format("finlab","finlab","localhost",3306,"dev_us_data")
# engine = create_engine(connect_info)
# sf1_df.to_sql(con=engine,name='sharadar_sf1',index_label='id', if_exists='append')

In [3]:
# 美股價格
df2=pd.read_csv('/Users/benbilly3/us_stocks_example_sourcecode/us_stock_rnd_strategy/SHARADAR_SEP_5659e77b6ffc1f36d023b6a3987da31c.csv')
df2=df2.drop(columns='lastupdated')
df2=df2.rename(columns={"ticker": "stock_id"})
df2['date']=pd.to_datetime(df2['date'])
df2=df2.drop_duplicates(['stock_id','date'], keep='first')
df2.index=[i for i in range(1,len(df2)+1)]
df2

,stock_id,date,open,high,low,close,volume,dividends,closeunadj
1,A,2019-11-29,80.960,81.240,80.470,80.770,835780.0,0.0,80.770
2,AA,2019-11-29,20.430,20.470,20.158,20.350,1223254.0,0.0,20.350
3,AACG,2019-11-29,1.813,1.813,1.805,1.805,963.0,0.0,1.805
4,AAGIY,2019-11-29,40.580,40.580,40.010,40.020,163700.0,0.0,40.020
5,AAL,2019-11-29,28.920,29.265,28.660,28.740,2970843.0,0.0,28.740
...,...,...,...,...,...,...,...,...,...
37313276,WSTE1,1998-01-05,1.500,1.500,1.375,1.438,191168.0,0.0,1.438
37313277,WSTE1,1998-01-02,1.625,1.625,1.500,1.500,98920.0,0.0,1.500
37313278,WSTE1,1997-12-31,1.250,1.625,1.250,1.500,583066.0,0.0,1.500
37313279,YPPN,2020-06-15,0.002,0.002,0.002,0.002,0.0,0.0,0.002
37313280,ZIMCF,2020-06-15,0.030,0.030,0.030,0.030,0.0,0.0,0.030

In [5]:
df2=df2.sort_values(['stock_id','date'])
df2

,stock_id,date,open,high,low,close,volume,dividends,closeunadj
32057137,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,44.00
32049421,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,40.38
32041713,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,44.00
32034001,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,40.25
32026291,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,41.06
...,...,...,...,...,...,...,...,...,...
10719989,ZZ,2013-03-08,2.21,2.21,2.20,2.20,6352900.0,0.0,2.20
10714145,ZZ,2013-03-11,2.20,2.21,2.20,2.20,407100.0,0.0,2.20
10708304,ZZ,2013-03-12,2.20,2.21,2.20,2.21,160000.0,0.0,2.21
10702464,ZZ,2013-03-13,2.20,2.21,2.20,2.21,308900.0,0.0,2.21
10696624,ZZ,2013-03-14,2.20,2.21,2.20,2.21,275000.0,0.0,2.21

In [4]:
total=len(df2)
num_list=[i for i in range(0,37413280,100000)]
for s,e in zip(num_list[:-1],num_list[1:]):
    print(s,e)

0 100000
100000 200000
200000 300000
300000 400000
400000 500000
500000 600000
600000 700000
700000 800000
800000 900000
900000 1000000
1000000 1100000
1100000 1200000
1200000 1300000
1300000 1400000
1400000 1500000
1500000 1600000
1600000 1700000
1700000 1800000
1800000 1900000
1900000 2000000
2000000 2100000
2100000 2200000
2200000 2300000
2300000 2400000
2400000 2500000
2500000 2600000
2600000 2700000
2700000 2800000
2800000 2900000
2900000 3000000
3000000 3100000
3100000 3200000
3200000 3300000
3300000 3400000
3400000 3500000
3500000 3600000
3600000 3700000
3700000 3800000
3800000 3900000
3900000 4000000
4000000 4100000
4100000 4200000
4200000 4300000
4300000 4400000
4400000 4500000
4500000 4600000
4600000 4700000
4700000 4800000
4800000 4900000
4900000 5000000
5000000 5100000
5100000 5200000
5200000 5300000
5300000 5400000
5400000 5500000
5500000 5600000
5600000 5700000
5700000 5800000
5800000 5900000
5900000 6000000
6000000 6100000
6100000 6200000
6200000 6300000
6300000 6400000
6400000 6500000
6500000 6600000
6600000 6700000
6700000 6800000
6800000 6900000
6900000 7000000
7000000 7100000
7100000 7200000
7200000 7300000
7300000 7400000
7400000 7500000
7500000 7600000
7600000 7700000
7700000 7800000
7800000 7900000
7900000 8000000
8000000 8100000
8100000 8200000
8200000 8300000
8300000 8400000
8400000 8500000
8500000 8600000
8600000 8700000
8700000 8800000
8800000 8900000
8900000 9000000
9000000 9100000
9100000 9200000
9200000 9300000
9300000 9400000
9400000 9500000
9500000 9600000
9600000 9700000
9700000 9800000
9800000 9900000
9900000 10000000
10000000 10100000
10100000 10200000
10200000 10300000
10300000 10400000
10400000 10500000
10500000 10600000
10600000 10700000
10700000 10800000
10800000 10900000
10900000 11000000
11000000 11100000
11100000 11200000
11200000 11300000
11300000 11400000
11400000 11500000
11500000 11600000
11600000 11700000
11700000 11800000
11800000 11900000
11900000 12000000
12000000 12100000
12100000 12200000
12200000 12300000
12300000 12400000
12400000 12500000
12500000 12600000
12600000 12700000
12700000 12800000
12800000 12900000
12900000 13000000
13000000 13100000
13100000 13200000
13200000 13300000
13300000 13400000
13400000 13500000
13500000 13600000
13600000 13700000
13700000 13800000
13800000 13900000
13900000 14000000
14000000 14100000
14100000 14200000
14200000 14300000
14300000 14400000
14400000 14500000
14500000 14600000
14600000 14700000
14700000 14800000
14800000 14900000
14900000 15000000
15000000 15100000
15100000 15200000
15200000 15300000
15300000 15400000
15400000 15500000
15500000 15600000
15600000 15700000
15700000 15800000
15800000 15900000
15900000 16000000
16000000 16100000
16100000 16200000
16200000 16300000
16300000 16400000
16400000 16500000
16500000 16600000
16600000 16700000
16700000 16800000
16800000 16900000
16900000 17000000
17000000 17100000
17100000 17200000
17200000 17300000
17300000 17400000
17400000 17500000
17500000 17600000
17600000 17700000
17700000 17800000
17800000 17900000
17900000 18000000
18000000 18100000
18100000 18200000
18200000 18300000
18300000 18400000
18400000 18500000
18500000 18600000
18600000 18700000
18700000 18800000
18800000 18900000
18900000 19000000
19000000 19100000
19100000 19200000
19200000 19300000
19300000 19400000
19400000 19500000
19500000 19600000
19600000 19700000
19700000 19800000
19800000 19900000
19900000 20000000
20000000 20100000
20100000 20200000
20200000 20300000
20300000 20400000
20400000 20500000
20500000 20600000
20600000 20700000
20700000 20800000
20800000 20900000
20900000 21000000
21000000 21100000
21100000 21200000
21200000 21300000
21300000 21400000
21400000 21500000
21500000 21600000
21600000 21700000
21700000 21800000
21800000 21900000
21900000 22000000
22000000 22100000
22100000 22200000
22200000 22300000
22300000 22400000
22400000 22500000
22500000 22600000
22600000 22700000
22700000 22800000
22800000 22900000
22900000 23000000
23000000 23100000
23100000 23200000
23200000 23300000
23300000 23400000
23400000 23500000
23500000 23600000
23600000 23700000
23700000 23800000
23800000 23900000
23900000 24000000
24000000 24100000
24100000 24200000
24200000 24300000
24300000 24400000
24400000 24500000
24500000 24600000
24600000 24700000
24700000 24800000
24800000 24900000
24900000 25000000
25000000 25100000
25100000 25200000
25200000 25300000
25300000 25400000
25400000 25500000
25500000 25600000
25600000 25700000
25700000 25800000
25800000 25900000
25900000 26000000
26000000 26100000
26100000 26200000
26200000 26300000
26300000 26400000
26400000 26500000
26500000 26600000
26600000 26700000
26700000 26800000
26800000 26900000
26900000 27000000
27000000 27100000
27100000 27200000
27200000 27300000
27300000 27400000
27400000 27500000
27500000 27600000
27600000 27700000
27700000 27800000
27800000 27900000
27900000 28000000
28000000 28100000
28100000 28200000
28200000 28300000
28300000 28400000
28400000 28500000
28500000 28600000
28600000 28700000
28700000 28800000
28800000 28900000
28900000 29000000
29000000 29100000
29100000 29200000
29200000 29300000
29300000 29400000
29400000 29500000
29500000 29600000
29600000 29700000
29700000 29800000
29800000 29900000
29900000 30000000
30000000 30100000
30100000 30200000
30200000 30300000
30300000 30400000
30400000 30500000
30500000 30600000
30600000 30700000
30700000 30800000
30800000 30900000
30900000 31000000
31000000 31100000
31100000 31200000
31200000 31300000
31300000 31400000
31400000 31500000
31500000 31600000
31600000 31700000
31700000 31800000
31800000 31900000
31900000 32000000
32000000 32100000
32100000 32200000
32200000 32300000
32300000 32400000
32400000 32500000
32500000 32600000
32600000 32700000
32700000 32800000
32800000 32900000
32900000 33000000
33000000 33100000
33100000 33200000
33200000 33300000
33300000 33400000
33400000 33500000
33500000 33600000
33600000 33700000
33700000 33800000
33800000 33900000
33900000 34000000
34000000 34100000
34100000 34200000
34200000 34300000
34300000 34400000
34400000 34500000
34500000 34600000
34600000 34700000
34700000 34800000
34800000 34900000
34900000 35000000
35000000 35100000
35100000 35200000
35200000 35300000
35300000 35400000
35400000 35500000
35500000 35600000
35600000 35700000
35700000 35800000
35800000 35900000
35900000 36000000
36000000 36100000
36100000 36200000
36200000 36300000
36300000 36400000
36400000 36500000
36500000 36600000
36600000 36700000
36700000 36800000
36800000 36900000
36900000 37000000
37000000 37100000
37100000 37200000
37200000 37300000
37300000 37400000

In [6]:
# connect to finlab_django mysql
connect_info = 'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format("finlab","finlab","localhost",3306,"dev_us_data")
engine = create_engine(connect_info)
for s,e in zip(num_list[:-1],num_list[1:]):
    print(s/100000+1,s,e)
    df=df2.iloc[s:e]
#     df.to_sql(con=engine,name='sharadar_sep',index_label='id', if_exists='append')
    SqlImporter.add_to_sql(SharadarSep, df,check_date_rule=False)

1.0 0 100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

2.0 100000 200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

3.0 200000 300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

4.0 300000 400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

5.0 400000 500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

6.0 500000 600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

7.0 600000 700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

8.0 700000 800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

9.0 800000 900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

10.0 900000 1000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

11.0 1000000 1100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

12.0 1100000 1200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

13.0 1200000 1300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

14.0 1300000 1400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

15.0 1400000 1500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

16.0 1500000 1600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

17.0 1600000 1700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

18.0 1700000 1800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

19.0 1800000 1900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

20.0 1900000 2000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

21.0 2000000 2100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

22.0 2100000 2200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

23.0 2200000 2300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

24.0 2300000 2400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

25.0 2400000 2500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

26.0 2500000 2600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

27.0 2600000 2700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

28.0 2700000 2800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

29.0 2800000 2900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

30.0 2900000 3000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

31.0 3000000 3100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

32.0 3100000 3200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

33.0 3200000 3300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

34.0 3300000 3400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

35.0 3400000 3500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

36.0 3500000 3600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

37.0 3600000 3700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

38.0 3700000 3800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

39.0 3800000 3900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

40.0 3900000 4000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

41.0 4000000 4100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

42.0 4100000 4200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

43.0 4200000 4300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

44.0 4300000 4400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

45.0 4400000 4500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

46.0 4500000 4600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

47.0 4600000 4700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

48.0 4700000 4800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

49.0 4800000 4900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

50.0 4900000 5000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

51.0 5000000 5100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

52.0 5100000 5200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

53.0 5200000 5300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

54.0 5300000 5400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

55.0 5400000 5500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

56.0 5500000 5600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

57.0 5600000 5700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

58.0 5700000 5800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

59.0 5800000 5900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

60.0 5900000 6000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

61.0 6000000 6100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

62.0 6100000 6200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

63.0 6200000 6300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

64.0 6300000 6400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

65.0 6400000 6500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

66.0 6500000 6600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

67.0 6600000 6700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

68.0 6700000 6800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

69.0 6800000 6900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

70.0 6900000 7000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

71.0 7000000 7100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

72.0 7100000 7200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

73.0 7200000 7300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

74.0 7300000 7400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

75.0 7400000 7500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

76.0 7500000 7600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

77.0 7600000 7700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

78.0 7700000 7800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

79.0 7800000 7900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

80.0 7900000 8000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

81.0 8000000 8100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

82.0 8100000 8200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

83.0 8200000 8300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

84.0 8300000 8400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

85.0 8400000 8500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

86.0 8500000 8600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

87.0 8600000 8700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

88.0 8700000 8800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

89.0 8800000 8900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

90.0 8900000 9000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

91.0 9000000 9100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

92.0 9100000 9200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

93.0 9200000 9300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

94.0 9300000 9400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

95.0 9400000 9500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

96.0 9500000 9600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

97.0 9600000 9700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

98.0 9700000 9800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

99.0 9800000 9900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

100.0 9900000 10000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

101.0 10000000 10100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

102.0 10100000 10200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

103.0 10200000 10300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

104.0 10300000 10400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

105.0 10400000 10500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

106.0 10500000 10600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

107.0 10600000 10700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

108.0 10700000 10800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

109.0 10800000 10900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

110.0 10900000 11000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

111.0 11000000 11100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

112.0 11100000 11200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

113.0 11200000 11300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

114.0 11300000 11400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

115.0 11400000 11500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

116.0 11500000 11600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

117.0 11600000 11700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

118.0 11700000 11800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

119.0 11800000 11900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

120.0 11900000 12000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

121.0 12000000 12100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

122.0 12100000 12200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

123.0 12200000 12300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

124.0 12300000 12400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

125.0 12400000 12500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

126.0 12500000 12600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

127.0 12600000 12700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

128.0 12700000 12800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

129.0 12800000 12900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

130.0 12900000 13000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

131.0 13000000 13100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

132.0 13100000 13200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

133.0 13200000 13300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

134.0 13300000 13400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

135.0 13400000 13500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

136.0 13500000 13600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

137.0 13600000 13700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

138.0 13700000 13800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

139.0 13800000 13900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

140.0 13900000 14000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

141.0 14000000 14100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

142.0 14100000 14200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

143.0 14200000 14300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

144.0 14300000 14400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

145.0 14400000 14500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

146.0 14500000 14600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

147.0 14600000 14700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

148.0 14700000 14800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

149.0 14800000 14900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

150.0 14900000 15000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

151.0 15000000 15100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

152.0 15100000 15200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

153.0 15200000 15300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

154.0 15300000 15400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

155.0 15400000 15500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

156.0 15500000 15600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

157.0 15600000 15700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

158.0 15700000 15800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

159.0 15800000 15900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

160.0 15900000 16000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

161.0 16000000 16100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

162.0 16100000 16200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

163.0 16200000 16300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

164.0 16300000 16400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

165.0 16400000 16500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

166.0 16500000 16600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

167.0 16600000 16700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

168.0 16700000 16800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

169.0 16800000 16900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

170.0 16900000 17000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

171.0 17000000 17100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

172.0 17100000 17200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

173.0 17200000 17300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

174.0 17300000 17400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

175.0 17400000 17500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

176.0 17500000 17600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

177.0 17600000 17700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

178.0 17700000 17800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

179.0 17800000 17900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

180.0 17900000 18000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

181.0 18000000 18100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

182.0 18100000 18200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

183.0 18200000 18300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

184.0 18300000 18400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

185.0 18400000 18500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

186.0 18500000 18600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

187.0 18600000 18700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

188.0 18700000 18800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

189.0 18800000 18900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

190.0 18900000 19000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

191.0 19000000 19100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

192.0 19100000 19200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

193.0 19200000 19300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

194.0 19300000 19400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

195.0 19400000 19500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

196.0 19500000 19600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

197.0 19600000 19700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

198.0 19700000 19800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

199.0 19800000 19900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

200.0 19900000 20000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

201.0 20000000 20100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

202.0 20100000 20200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

203.0 20200000 20300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

204.0 20300000 20400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

205.0 20400000 20500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

206.0 20500000 20600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

207.0 20600000 20700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

208.0 20700000 20800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

209.0 20800000 20900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

210.0 20900000 21000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

211.0 21000000 21100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

212.0 21100000 21200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

213.0 21200000 21300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

214.0 21300000 21400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

215.0 21400000 21500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

216.0 21500000 21600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

217.0 21600000 21700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

218.0 21700000 21800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

219.0 21800000 21900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

220.0 21900000 22000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

221.0 22000000 22100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

222.0 22100000 22200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

223.0 22200000 22300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

224.0 22300000 22400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

225.0 22400000 22500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

226.0 22500000 22600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

227.0 22600000 22700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

228.0 22700000 22800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

229.0 22800000 22900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

230.0 22900000 23000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

231.0 23000000 23100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

232.0 23100000 23200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

233.0 23200000 23300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

234.0 23300000 23400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

235.0 23400000 23500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

236.0 23500000 23600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

237.0 23600000 23700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

238.0 23700000 23800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

239.0 23800000 23900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

240.0 23900000 24000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

241.0 24000000 24100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

242.0 24100000 24200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

243.0 24200000 24300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

244.0 24300000 24400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

245.0 24400000 24500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

246.0 24500000 24600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

247.0 24600000 24700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

248.0 24700000 24800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

249.0 24800000 24900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

250.0 24900000 25000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

251.0 25000000 25100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

252.0 25100000 25200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

253.0 25200000 25300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

254.0 25300000 25400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

255.0 25400000 25500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

256.0 25500000 25600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

257.0 25600000 25700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

258.0 25700000 25800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

259.0 25800000 25900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

260.0 25900000 26000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

261.0 26000000 26100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

262.0 26100000 26200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

263.0 26200000 26300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

264.0 26300000 26400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

265.0 26400000 26500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

266.0 26500000 26600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

267.0 26600000 26700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

268.0 26700000 26800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

269.0 26800000 26900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

270.0 26900000 27000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

271.0 27000000 27100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

272.0 27100000 27200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

273.0 27200000 27300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

274.0 27300000 27400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

275.0 27400000 27500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

276.0 27500000 27600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

277.0 27600000 27700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

278.0 27700000 27800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

279.0 27800000 27900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

280.0 27900000 28000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

281.0 28000000 28100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

282.0 28100000 28200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

283.0 28200000 28300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

284.0 28300000 28400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

285.0 28400000 28500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

286.0 28500000 28600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

287.0 28600000 28700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

288.0 28700000 28800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

289.0 28800000 28900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

290.0 28900000 29000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

291.0 29000000 29100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

292.0 29100000 29200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

293.0 29200000 29300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

294.0 29300000 29400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

295.0 29400000 29500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

296.0 29500000 29600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

297.0 29600000 29700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

298.0 29700000 29800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

299.0 29800000 29900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

300.0 29900000 30000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

301.0 30000000 30100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

302.0 30100000 30200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

303.0 30200000 30300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

304.0 30300000 30400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

305.0 30400000 30500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

306.0 30500000 30600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

307.0 30600000 30700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

308.0 30700000 30800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

309.0 30800000 30900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

310.0 30900000 31000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

311.0 31000000 31100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

312.0 31100000 31200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

313.0 31200000 31300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

314.0 31300000 31400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

315.0 31400000 31500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

316.0 31500000 31600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

317.0 31600000 31700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

318.0 31700000 31800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

319.0 31800000 31900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

320.0 31900000 32000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

321.0 32000000 32100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

322.0 32100000 32200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

323.0 32200000 32300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

324.0 32300000 32400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

325.0 32400000 32500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

326.0 32500000 32600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

327.0 32600000 32700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

328.0 32700000 32800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

329.0 32800000 32900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

330.0 32900000 33000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

331.0 33000000 33100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

332.0 33100000 33200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

333.0 33200000 33300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

334.0 33300000 33400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

335.0 33400000 33500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

336.0 33500000 33600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

337.0 33600000 33700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

338.0 33700000 33800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

339.0 33800000 33900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

340.0 33900000 34000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

341.0 34000000 34100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

342.0 34100000 34200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

343.0 34200000 34300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

344.0 34300000 34400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

345.0 34400000 34500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

346.0 34500000 34600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

347.0 34600000 34700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

348.0 34700000 34800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

349.0 34800000 34900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

350.0 34900000 35000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

351.0 35000000 35100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

352.0 35100000 35200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

353.0 35200000 35300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

354.0 35300000 35400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

355.0 35400000 35500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

356.0 35500000 35600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

357.0 35600000 35700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

358.0 35700000 35800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

359.0 35800000 35900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

360.0 35900000 36000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

361.0 36000000 36100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

362.0 36100000 36200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

363.0 36200000 36300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

364.0 36300000 36400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

365.0 36400000 36500000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

366.0 36500000 36600000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

367.0 36600000 36700000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

368.0 36700000 36800000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

369.0 36800000 36900000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

370.0 36900000 37000000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

371.0 37000000 37100000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

372.0 37100000 37200000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

373.0 37200000 37300000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_create:100000
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 1997-12-31 to 2020-06-15 bulk_update:0

374.0 37300000 37400000

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2002-09-30 to 2020-06-15 bulk_create:13280
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2002-09-30 to 2020-06-15 bulk_update:0

In [36]:
# 補資料，分批打api
dd=date_range(datetime.datetime(2020,7,1), datetime.datetime(2020,10,12))
nn=[i for i in range(0,106,15)]
for s,e in zip(nn[:-1],nn[1:]):
    print(s,e)
    df=SharadarCrawler(dd[s:e]).download_sep()
    SqlImporter.add_to_sql(SharadarSep, df,1)

0 15

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-01 to 2020-07-15 bulk_create:68470
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-01 to 2020-07-15 bulk_update:0

15 30

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-16 to 2020-07-30 bulk_create:75560
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-16 to 2020-07-30 bulk_update:0

30 45

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-31 to 2020-08-14 bulk_create:75857
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-07-31 to 2020-08-14 bulk_update:0

45 60

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-08-17 to 2020-08-28 bulk_create:69264
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-08-17 to 2020-08-28 bulk_update:0

60 75

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-08-31 to 2020-09-11 bulk_create:62488
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-08-31 to 2020-09-11 bulk_update:0

75 90

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-09-14 to 2020-09-28 bulk_create:76821
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-09-14 to 2020-09-28 bulk_update:0

90 105

INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-09-29 to 2020-10-12 bulk_create:70175
INFO:etl.import_sql:Finish!<class 'us_data.models.SharadarSep'> date:from 2020-09-29 to 2020-10-12 bulk_update:0